.customForm {
    background-color:  whitesmoke;
    flex-direction: column;
    padding: 40px;
    border-radius: 5px;
    margin: 0 auto;

    .form-title {
        display: flex;
        align-self: flex-start;
    }

    .custom_formGroup {
        align-items: center;
        margin-left: 30px;
        input {
            max-width: 60%;
            margin-left: 13px;
        }
    }
}