.filter_navbar {
    background-color: black;

    #dropdown-basic-button {
        background-color: transparent !important;
        border-color: white !important;
        text-transform: uppercase;
        font-weight: bold;

    }
}